# 0.0 Configuration and Data Loading

## 0.1 Imports

In [29]:
import pandas as pd
import math
import inflection
import numpy as np
import seaborn as sns
import datetime

from scipy                             import stats as ss
from matplotlib                        import pyplot as plt
from matplotlib.gridspec               import GridSpec
from IPython.display                   import Image
from IPython.core.display              import HTML
from boruta                            import BorutaPy

from sklearn.preprocessing             import RobustScaler, MinMaxScaler, LabelEncoder
from sklearn.ensemble                  import RandomForestRegressor

## 0.2 Helper Functions

In [30]:
def jupyter_settings():
    
    %matplotlib inline
    
    plt.style.use( 'bmh' )
    plt.rcParams['figure.figsize'] = [25, 12]
    plt.rcParams['font.size'] = 24
    display( HTML( '<style>.container { width:100% !important; }</style>') )
    pd.options.display.max_columns = None
    pd.options.display.max_rows = None
    pd.set_option( 'display.expand_frame_repr', False )
    sns.set()

In [31]:
jupyter_settings()

## 0.3 Loading Data

In [32]:
df_sales_raw = pd.read_csv( 'data/train.csv', low_memory = False )
df_store_raw = pd.read_csv( 'data/store.csv', low_memory = False )

df_raw = pd.merge(df_sales_raw, df_store_raw, 'left', 'Store')

# 1.0 Data Description

## 1.1 Rename Columns

In [33]:
df1 = df_raw.copy()

In [34]:
df1.columns

Index(['Store', 'DayOfWeek', 'Date', 'Sales', 'Customers', 'Open', 'Promo',
       'StateHoliday', 'SchoolHoliday', 'StoreType', 'Assortment',
       'CompetitionDistance', 'CompetitionOpenSinceMonth',
       'CompetitionOpenSinceYear', 'Promo2', 'Promo2SinceWeek',
       'Promo2SinceYear', 'PromoInterval'],
      dtype='object')

In [35]:
old_cols = ['Store', 'DayOfWeek', 'Date', 'Sales', 'Customers', 'Open', 'Promo', 'StateHoliday', 'SchoolHoliday', 
            'StoreType', 'Assortment', 'CompetitionDistance', 'CompetitionOpenSinceMonth',
            'CompetitionOpenSinceYear', 'Promo2', 'Promo2SinceWeek', 'Promo2SinceYear', 'PromoInterval']

snakecase = lambda x: inflection.underscore( x )

new_cols = list( map( snakecase, old_cols ) )

In [36]:
df1.columns = new_cols

In [37]:
df1.columns

Index(['store', 'day_of_week', 'date', 'sales', 'customers', 'open', 'promo',
       'state_holiday', 'school_holiday', 'store_type', 'assortment',
       'competition_distance', 'competition_open_since_month',
       'competition_open_since_year', 'promo2', 'promo2_since_week',
       'promo2_since_year', 'promo_interval'],
      dtype='object')

## 1.2 Data Dimentions

In [38]:
print( 'Name of rows: {}'.format( df1.shape[0] ) )
print( 'Name of cols: {}'.format( df1.shape[1] ) )

## 1.3 Data Types

In [39]:
df1['date'] = pd.to_datetime( df1['date'] )
df1.dtypes

store                                    int64
day_of_week                              int64
date                            datetime64[ns]
sales                                    int64
customers                                int64
open                                     int64
promo                                    int64
state_holiday                           object
school_holiday                           int64
store_type                              object
assortment                              object
competition_distance                   float64
competition_open_since_month           float64
competition_open_since_year            float64
promo2                                   int64
promo2_since_week                      float64
promo2_since_year                      float64
promo_interval                          object
dtype: object

## 1.4 Check NA

In [40]:
df1.isna().sum()

store                                0
day_of_week                          0
date                                 0
sales                                0
customers                            0
open                                 0
promo                                0
state_holiday                        0
school_holiday                       0
store_type                           0
assortment                           0
competition_distance              2642
competition_open_since_month    323348
competition_open_since_year     323348
promo2                               0
promo2_since_week               508031
promo2_since_year               508031
promo_interval                  508031
dtype: int64

## 1.5 Fillout NA

Quando não há informação de competidor mais próximo (NA), considerei a distância como 200000 (quase 3x o valor da distância do competidor mais longe).

In [41]:
df1['competition_distance'].max()

75860.0

In [42]:
df1['competition_distance'] = df1['competition_distance'].apply( lambda x: 200000.0 if math.isnan( x ) else x )

Quando não há informação sobre:
   - há quantos meses há um competidor mais próximo
   - há quantos anos há um competidor mais próximo
   - a semana do ano em que a loja começou a participar da promoção 'promo2'
   - o ano em que a loja começou a participar da promoção 'promo2'

substituí pela informação baseada na data de atualização da base.

In [44]:
df1['competition_open_since_month'] = df1.apply( lambda x: x['date'].month if math.isnan( x['competition_open_since_month'] ) else x['competition_open_since_month'], axis=1)
df1['competition_open_since_year'] = df1.apply( lambda x: x['date'].year if math.isnan( x['competition_open_since_year'] ) else x['competition_open_since_year'], axis=1)

In [45]:
df1['promo2_since_week'] = df1.apply( lambda x: x['date'].month if math.isnan( x['promo2_since_week'] ) else x['promo2_since_week'], axis = 1 )
df1['promo2_since_year'] = df1.apply( lambda x: x['date'].year if math.isnan( x['promo2_since_year'] ) else x['promo2_since_year'], axis = 1 )

In [48]:
month_map = { 1:'Jan', 2:'Feb', 3:'Mar', 4:'Apr', 5:'May', 6:'Jun', 7:'Jul', 8:'Aug', 9:'Sept', 10:'Oct', 11:'Nov', 12:'Dec' }

df1['promo_interval'].fillna(0, inplace = True)

df1['month_map'] = df1['date'].dt.month.map( month_map )
df1['is_promo'] = df1[['promo_interval', 'month_map']].apply(lambda x: 0 if x['promo_interval'] == 0 else 1 if x['month_map'] in x['promo_interval'].split(',') else 0, axis = 1)

In [50]:
df1.sample(5).T

                                           223533               502600               395878               131663               54435
store                                         534                  521                  658                   94                  916
day_of_week                                     1                    1                    1                    6                    6
date                          2015-01-12 00:00:00  2014-04-07 00:00:00  2014-07-14 00:00:00  2015-04-04 00:00:00  2015-06-13 00:00:00
sales                                       10533                 3859                 8413                 7486                 5639
customers                                     700                  391                  698                  736                  713
open                                            1                    1                    1                    1                    1
promo                                           1                    0                    1                    0                    0
state_holiday                                   0                    0                    0                    0                    0
school_holiday                                  0                    0                    1                    0                    0
store_type                                      d                    d                    d                    d                    a
assortment                                      a                    a                    c                    c                    a
competition_distance                       1200.0              18610.0                520.0              14620.0                 90.0
competition_open_since_month                  9.0                 11.0                  7.0                  4.0                 11.0
competition_open_since_year                2009.0               2002.0               2014.0               2015.0               2012.0
promo2                                          1                    1                    1                    0                    0
promo2_since_week                            45.0                 48.0                 37.0                  4.0                  6.0
promo2_since_year                          2009.0               2011.0               2009.0               2015.0               2015.0
promo_interval                    Jan,Apr,Jul,Oct     Mar,Jun,Sept,Dec      Jan,Apr,Jul,Oct                    0                    0
month_map                                     Jan                  Apr                  Jul                  Apr                  Jun
is_promo                                        1                    0                    1                    0                    0

In [51]:
df1.isna().sum()

store                           0
day_of_week                     0
date                            0
sales                           0
customers                       0
open                            0
promo                           0
state_holiday                   0
school_holiday                  0
store_type                      0
assortment                      0
competition_distance            0
competition_open_since_month    0
competition_open_since_year     0
promo2                          0
promo2_since_week               0
promo2_since_year               0
promo_interval                  0
month_map                       0
is_promo                        0
dtype: int64

## 1.6 Change Types

In [52]:
df1.dtypes

store                                    int64
day_of_week                              int64
date                            datetime64[ns]
sales                                    int64
customers                                int64
open                                     int64
promo                                    int64
state_holiday                           object
school_holiday                           int64
store_type                              object
assortment                              object
competition_distance                   float64
competition_open_since_month           float64
competition_open_since_year            float64
promo2                                   int64
promo2_since_week                      float64
promo2_since_year                      float64
promo_interval                          object
month_map                               object
is_promo                                 int64
dtype: object

In [53]:
df1['competition_open_since_month'] = df1['competition_open_since_month'].astype(int)
df1['competition_open_since_year'] = df1['competition_open_since_year'].astype(int)

df1['promo2_since_week'] = df1['promo2_since_week'].astype(int)
df1['promo2_since_year'] = df1['promo2_since_year'].astype(int)

In [54]:
df1.dtypes

store                                    int64
day_of_week                              int64
date                            datetime64[ns]
sales                                    int64
customers                                int64
open                                     int64
promo                                    int64
state_holiday                           object
school_holiday                           int64
store_type                              object
assortment                              object
competition_distance                   float64
competition_open_since_month             int64
competition_open_since_year              int64
promo2                                   int64
promo2_since_week                        int64
promo2_since_year                        int64
promo_interval                          object
month_map                               object
is_promo                                 int64
dtype: object

## 1.7 Descriptive Statistical

Em andamento